
/* .container {
    position: fixed;
    width: 100%;
    background: #000000e2;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */

 /*  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  } */
  /* .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 500px;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display: flex;
    column-gap: 15px;
    
  }
 */
 

  /*Responsive*/
/*   @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }
 */

/* 
.updateImage{
  width: 200px;
  height: 100px;
  
}
  */