.heroSection
{
    margin:100px auto;
    width: 90%;
    padding: 10px;
}

.filterBtn {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 150px;
    z-index: 100px;
    justify-content: center;
     

}
.genresItem
{
    border: 1px solid blue;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
}
.genBtn {
   
background-color: rgb(35, 3, 64);
}
.genBtn:active{
    background-color: blanchedalmond;
}
.listMusic{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(45deg, rgb(211, 211, 249) , rgba(225, 221, 250, 0.712), rgb(255, 255, 255));
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    margin: 3px;
    
}
.listMusic:hover{
    box-shadow: 0px 0px 12px 1px rgba(16, 16, 215, 0.418);
   
}

.listImage{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 5px;
    background-color: orange;
} 
.listDiscrip{
  
   height: 75px;
   margin-left: 20px;
   width: 100px;
  display: flex;
  width: 200px;
  justify-content: space-between;
  flex-direction: column;

 
    
}

.listDiscrip>span{
 font-weight: bold;
 color: rgb(2, 2, 58);
 
}
